<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Course Catalog">
    <div>
      <div class="col-lg-8">
        <h3>List of Courses in Catalog</h3>
        <br>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course Id</th>
              <th scope="col">Course Name</th>
              <th scope="col">Fee(Rs)</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courseList; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{course.courseCode}}</td>
              <td>{{course.courseName}}</td>
              <td>{{course.fee}}</td>
              <td><button type="button" class="btn btn-light"
                  (click)="deleteCourse(course.courseCode)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Add Course">
    <div>
      <div class="col-lg-8">
        <h3>Add Course</h3>
        <br>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        </table>
        <br>
        <div>
            <form><p>
            <label for="coursecode" style="color:rgb(9, 173, 44);font-size:15px;">CourseCode</label>
            <input type="text" id="coursecode" name="coursecode" [(ngModel)]="course.courseCode" ><br>
            </p><p>
            <label for="coursename" style="color:rgb(9, 173, 44);font-size:15px;">CourseName</label>
            <input type="text" id="coursename" name="coursename" [(ngModel)]="course.courseName"><br>
            </p><p>
            <label for="fee" style="color:rgb(9, 173, 44);font-size:15px;">Course fee </label>
            <input type="text" id="fee" name="fee" [(ngModel)]="course.fee"><br>
            </p></form>
            <input type="submit" class="btn btn-dark" (click)="addCourse()" value="Submit">
        </div>
      </div>
    </div>
  </mat-tab>
  
  <mat-tab disabled>
    <ng-template mat-tab-label>
        <button mat-icon-button (click)="someFn()">
            <mat-icon>Logout</mat-icon>
        </button>
    </ng-template>
</mat-tab>
</mat-tab-group>